@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base;
  }
  img {
    @apply h-auto;
  }
  h1 {
    @apply text-lg leading-none;
  }
  h2 {
    @apply text-md leading-none;
  }
  input {
    @apply outline-none border-[1.9px] border-transparent bg-gray-100 h-10 rounded-lg px-2 focus:border-primary-main focus-within:border-primary-main focus:outline-none placeholder:text-slate-700  font-medium;
  }
  textarea {
    @apply bg-gray-100 p-2 rounded-lg  placeholder:text-gray-800 font-medium;
  }
  select {
    @apply bg-gray-100 p-2 rounded-lg  font-medium text-sm;
  }
}

@layer components {
  .full-height {
    @apply h-[calc(100vh-100px)];
  }
  .container {
    @apply w-[96%] max-w-[96%] sm2:w-[97%] sm2:max-w-[97%] 2xl:max-w-screen-xl;
  }
  .svgCircleButton {
    @apply h-8 w-8 hover:bg-gray-100 border-2 border-transparent focus:border-blue-200 rounded-full flex justify-center items-center [&_svg]:w-5 [&_svg]:h-5  m-0 p-0 shrink-0 active:scale-95 transition-transform;
  }
  .svgCircleButtonSmall {
    @apply h-7 w-7 hover:bg-gray-100  rounded-full flex justify-center items-center [&_svg]:w-4 [&_svg]:h-4  m-0 p-0 shrink-0 active:scale-95 transition-transform;
  }
  .centerCard {
    @apply max-w-screen-lg mx-auto;
  }
  .centerCardSmall {
    @apply max-w-screen-md mx-auto  rounded-lg;
  }
  .centerCardMobile {
    @apply max-w-screen-sm2 mx-auto  rounded-lg;
  }
  .btn {
    @apply h-10 px-3 rounded-md bg-gray-100 hover:bg-gray-300 font-semibold  active:scale-95 transition-transform cursor-pointer;
  }
  .btn-primary {
    @apply bg-primary-main text-white hover:bg-primary-hover;
  }
  .btn-primary-transparent {
    @apply bg-primary-transparent2 hover:bg-primary-transparent1 text-primary-hover;
  }
  .btn-success {
    @apply bg-success-main text-white hover:bg-success-hover;
  }
  .btn-success-transparent {
    @apply bg-success-transparent2 hover:bg-success-transparent1 text-success-hover;
  }
  .btn-info {
    @apply bg-info-main hover:bg-info-hover text-white;
  }
  .btn-info-transparent {
    @apply bg-info-transparent2 hover:bg-info-transparent1 text-info-hover;
  }
  .btn-error {
    @apply bg-error-main hover:bg-error-hover text-white;
  }
  .btn-error-transparent {
    @apply bg-error-transparent2 hover:bg-error-transparent1 text-error-hover;
  }
  .errorCard {
    @apply p-2 border border-error-hover bg-error-transparent1 text-error-hover rounded-lg mb-2 font-medium;
  }
  .successCard {
    @apply p-2  border border-success-hover bg-success-transparent1 text-success-hover rounded-lg mb-2 font-medium;
  }
}

.slick-prev {
  left: 10px !important;
  z-index: 1 !important;
  font-size: 100px !important;
}

.slick-prev::before {
  font-size: 36px !important;
  color: rgb(0, 0, 0) !important;
}

.slick-next {
  right: 25px !important;
  z-index: 1 !important;
  font-size: 100px !important;
}

.slick-next::before {
  font-size: 36px !important;
  color: rgb(0, 0, 0) !important;
}

ul.slick-dots {
  bottom: 10px !important;
}

ul.slick-dots li button:before {
  font-size: 16px !important;
  color: white !important;
  opacity: 1 !important;
}

button.slick-arrow {
  width: 36px !important;
  height: 36px !important;
  display: inline-block !important;
  overflow: hidden !important;
}

.slick-dots li.slick-active button:before {
  color: yellow !important;
}

.slick-track {
  background: rgb(34, 37, 50);
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade {
  animation-name: fadeAnimation;
  animation-duration: 500ms;
}
