@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply h-auto;
  }
  input {
    @apply outline-none border-[1.9px] border-transparent bg-gray-100 h-10 rounded-lg px-2 focus:border-primary-main focus-within:border-primary-main focus:outline-none placeholder:text-slate-700 text-sm3 font-medium;
  }
  a {
    @apply text-sm2;
  }
}

@layer components {
  .full-height {
    @apply h-[calc(100vh-100px)];
  }
  .container {
    @apply w-[96%] max-w-[96%] sm2:w-[97%] sm2:max-w-[97%] 2xl:max-w-screen-xl;
  }
  .svgCircleButton {
    @apply h-10 w-10 hover:bg-gray-100 border-2 border-transparent focus:border-blue-200 rounded-full flex justify-center items-center [&_svg]:w-6 [&_svg]:h-6  m-0 p-0 shrink-0 active:scale-95 transition-transform;
  }
  .svgCircleButtonSmall {
    @apply h-8 w-8 hover:bg-gray-100  rounded-full flex justify-center items-center [&_svg]:w-5 [&_svg]:h-5  m-0 p-0 shrink-0 active:scale-95 transition-transform;
  }
  .centerCard {
    @apply max-w-screen-lg mx-auto;
  }
  .centerCardSmall {
    @apply max-w-screen-md mx-auto;
  }
  .btn {
    @apply h-9 px-4 rounded-md bg-gray-100 font-medium text-sm2 active:scale-95 transition-transform;
  }
  .btn-primary {
    @apply bg-primary-main text-white hover:bg-primary-hover;
  }
  .btn-primary-transparent {
    @apply bg-primary-transparent2 text-primary-hover;
  }
  .btn-success {
    @apply bg-success-main text-white;
  }
  .btn-success-transparent {
    @apply bg-success-transparent2 text-success-hover;
  }
  .btn-info {
    @apply bg-info-main text-white;
  }
  .btn-info-transparent {
    @apply bg-info-transparent2 text-info-hover;
  }
  .btn-error {
    @apply bg-error-main text-white;
  }
  .btn-error-transparent {
    @apply bg-error-transparent1 text-error-hover;
  }
  .errorCard {
    @apply p-2 border border-error-hover bg-error-transparent1 text-error-hover rounded-lg mb-4 font-medium;
  }
  .successCard {
    @apply p-2 border border-success-hover bg-success-transparent1 text-success-hover rounded-lg mb-4 font-medium;
  }
}

.slick-prev {
  left: 10px !important;
  z-index: 1 !important;
  font-size: 100px !important;
}

.slick-prev::before {
  font-size: 36px !important;
  color: rgb(0, 0, 0) !important;
}

.slick-next {
  right: 25px !important;
  z-index: 1 !important;
  font-size: 100px !important;
}

.slick-next::before {
  font-size: 36px !important;
  color: rgb(0, 0, 0) !important;
}

ul.slick-dots {
  bottom: 10px !important;
}

ul.slick-dots li button:before {
  font-size: 16px !important;
  color: white !important;
  opacity: 1 !important;
}

button.slick-arrow {
  width: 36px !important;
  height: 36px !important;
  display: inline-block !important;
  overflow: hidden !important;
}

.slick-dots li.slick-active button:before {
  color: yellow !important;
}

.slick-track {
  background: rgb(34, 37, 50);
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
